
//zmienic wszedzie px na % zeby mozna bylo to na telefonie sprawdzic
// zrob tak widok, zeby formularz zajmowal pol strony od lewej a wyniki tez pol strony od lewej
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 50%;
    max-height: 100%;
  }
  

  .main-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
  }
  

  .info {
    margin-bottom: 20px;
  }
  
  .info h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  

  .search-params form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }
  
  .search-params label {
    margin-bottom: 10px;
  }
  

  .search-params select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  

  .search-params input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  

  .search-params div {
    display: flex;
    flex-wrap: wrap;
  }
  
  .search-params label input[type="checkbox"] {
    margin-right: 15px;
    margin-top: 15px;
    //poprawic odstepy zeby to dobrze wygladalo
  }
  

  .search-params button[type="submit"] {
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .search-params button[type="submit"]:hover {
    background-color: #0D47A1;
  }

  .search-params button[type="submit"] {
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-params button[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .search-params button[type="submit"]:disabled:hover {
    background-color: #ccc;
  }
  